* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.card {
  padding-block: 50px;
  padding-inline: 30px;
  border-style: solid;
  border-color: blue;
  border-radius: 10px;
}

