<%- include('../layouts/head'); -%>
<div class="user">
  <div class="card">
    <h1>Login to your account</h1>
    <form action="/user/login" method="post">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" autofocus>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password">
      </div>
      <button type="submit">Login</button>
    </form>
    <p>Dont have any account <a href="/user/register"> Register here! </a></p>
  </div>
</div>
<%- include('../layouts/foot'); -%>
