<%- include('layout', {container: ""}) %>
<div class="card">
  <h1>Login to your account</h1>
  <form action="/user/register" method="post">
    <div>
      <label for="name">Nama</label>
      <input type="text" name="name" id="name" autofocus required>
    </div>
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" required>
    </div>
    <button type="submit">register</button>
  </form>
  <p>already have account? <a href="/user/login"> Login here! </a></p>
</div>
